<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="TKONFeed" value="https://pkgs.dev.azure.com/tkon781/CAM/_packaging/TKONFeed/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<TKONFeed>
			<add key="Username" value="Tim Konick" />
			<add key="ClearTextPassword" value="hjj63fpxnkxjfvkvm2gah5pgokqjswpyf7u5rri2dhakg4cbux5a" />
		</TKONFeed>
	</packageSourceCredentials>
	<apikeys>
		<add key="https://pkgs.dev.azure.com/tkon781/CAM/_packaging/TKONFeed/nuget/v3/index.json" value="hjj63fpxnkxjfvkvm2gah5pgokqjswpyf7u5rri2dhakg4cbux5a" />
	</apikeys>
</configuration>